body {
  text-align: right;
  width: 100%;
  height: 100vh;
}
img {
  width: 100px;
  height: 100px;
}
#logo {
  display: flex;
  justify-content: space-between;
}
.center {
  display: flex;
  justify-content: center;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: mm;
}
.item6 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header  menu menu menu"
    "main main main right right right"
    "mm mm mm mm mm mm "
    "footer footer footer footer footer footer";
  gap: 5px;
  background-color: #ffffff;
  padding: 1px;
}

.grid-container > div {
  background-color: rgb(198, 204, 207);
  text-align: right;
  font-size: 20px;
}
.info {
  /* display: flex; */
  /* justify-content: right; */
  padding: 8px;
}
.inforow1,
.inforow2 {
  display: flex;
  flex-direction: row-reverse;
  padding: 3px;
}
.inforow1col1,
.inforow2col1 {
  background: #bbc4cb;
  padding-left: 40px;
}
.inforow1col2,
.inforow2col2,
.inforow2col3,
.inforow2col4 {
  background: #bbc4cb;
  padding-left: 30px;
  margin-right: 3px;
}
table,
tbody,
th,
td,
tr,
thead {
  border: 1px solid black;
}
tr th {
  width: 100px;
  background: #dbe0e4;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr th {
  text-align: center;
}
table {
  width: 80%;
}
footer {
  /* position: absolute; */
  bottom: 80px;
}
.parent {
  position: relative;
}
.table {
  padding-bottom: 150px;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
